.btn-blue{
	background:#110d58;
	background-color: #ecebf3;
	padding: 15px 20px;
	border-radius: 5px;
	font-weight: bold;
	font-size: "2" color="white"
	font-family: 'Roboto', sans-serif;
}
#btn-blue{
  background-color: #cfcde1;

}
